@import "@/styles/abstract";

.app {

  &_cross, &_disabled {
    pointer-events: none;
  }

  &_cross {

    .game-panel-row {
      border-color: $secondary;
    }
  }

  &_circle {

    .game-panel-row {
      border-color: $main;
    }
  }
}
