@import "@/styles/abstract";

.player {
  @include scaledRem('width', 45px);
  @include scaledRem('height', 45px);

  animation: fading 200ms forwards $sharp;
  flex-shrink: 0;
  text-align: left;

  &_circle {
    border: 5px solid $main;
    border-radius: 100%;
  }

  &_cross {
    position: relative;

    &::before, &::after {
      @include scaledRem('width', 45);
      @include scaledRem('height', 5);

      background-color: $secondary;
      border-radius: 4px;
      content: '';
      position: absolute;
    }

    &::after {
      transform: translateY(20px) rotate(-45deg);
    }

    &::before {
      transform: translateY(20px) rotate(45deg);
    }
  }
}
